.main {
    height: 400px;
    width: 715px;
    background-color: red;
    display: inline-block;
    justify-content: space-around;
    padding: 7.5px;
    vertical-align: top;
    
}
.advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    display: block;
    margin-top: 20px;
    margin-left: 7.5px;
    }